* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
}

.titolo-header {
    display: inline-block;
    line-height: 50px;
}

.sfondo {
    background-color: gray;
    padding-top: 30px;
    padding-bottom: 60px;
}

.box {
    width: 1000px;
    margin: auto;
    height: 500px;
    background-color: white;
    padding-top: 20px;
    border-radius: 5px;
}

.section1 {
    padding-left: 50px;
    padding-bottom: 10px;
}

.add-task {
    background-color: hsl(204deg 86% 61%);
    padding: 5px;
    color: white;
    border-radius: 5px;
    border: 0;
}

.add-section {
    padding: 5px;
    border-radius: 5px;
    color: hsl(210deg 11% 85%);
    border: 0;
}

.section2 {
    padding-left: 30px;
    padding-top: 40px;
}


/* classe button con caratteristiche uguali a tutti i button  */

.button {
    padding: 8px;
    border-radius: 10px;
    border: 0;
    font-size: 10px;
    color: white;
}

.editorial {
    background-color: hsl(203deg 80% 59%);
}

.goal {
    background-color: violet;
}

.recruiting {
    background-color: green;
}

.mobile {
    background-color: orange;
}

.webside {
    background-color: palevioletred;
}

.sales {
    background-color: lightgreen;
}